<div class="container-fluid col-6">
  <h1>Home</h1><br><br>
  <div class="row">
    <div class="col-3">
        <h4>ADD</h4>
        <hr>
        <div>
            <a routerLink="/add">Add Monitoring Data</a>
        </div>
    </div>
    <div class="col-3">
        <h4>FETCH</h4>
        <hr>
        <div>
            <a routerLink="/fetch">Get By Date and BU</a><br>
            <a routerLink="/fetchbydate">Get By Date</a><br>
            <a routerLink="">Get All Data between Dates</a>
        </div>
    </div>
    <div class="col-3">
        <h4>DELETE</h4>
        <hr>
        <div>
            <a routerLink="/editdeleteData">Delete or Edit </a>
        </div>
    </div>
  </div>
</div>
